<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Вход в систему</h1>

    <p>Выберите способ входа (ваша роль):</p>

    <form action="/login" method="post">
        <button type="submit" name="role" value="студент">студент</button>
        <button type="submit" name="role" value="преподаватель">преподаватель</button>
        <button type="submit" name="role" value="администратор">администратор</button>
    </form>
</body>
</html>