<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тесты</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Страница тестов</h1>
    <p>Добро пожаловать :3, {{.Role}}!</p>
    <a href="/logout">Выйти</a>

    <h2>Список тестов</h2>
    <ul>
        {{range .Tests}}
            <li>{{.}}</li>
        {{else}}
            <li>Тестов нет</li>
        {{end}}
    </ul>

    <h3>Создать тест</h3>
    <form action="/tests" method="post">
        <input type="text" name="newtest" placeholder="Название теста" required>
        <button type="submit">Добавить</button>
    </form>
    <a href="/logout">Выйти</a>
</body>
</html>